/* signup */
.login-container,
.Signup-form {
    max-width: 425px;
    margin: 0 auto;
    padding: 20px;
    background: #ebead4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-header,
.Signup-header {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.login-form,
.Signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-label {
    font-weight: bold;
    color: #333;
}

.login-input,
input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 95%;
}

.error-message,
.signup-error-message {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
    transition: transform 0.2 ease;
}
.signup-error-message {
    transition: transform 0.2 ease;
}

.signup-error-message.animate {
    opacity: 1;
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
}

.login-button {
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-button:hover {
    background: #0056b3;
}

.task-arena-logo {
    display: block;
    width: 250px; /* Adjust the width as needed */
    margin: 0 auto 20px;
  }
  
  .task-arena-logo img {
    width: 100%;
    height: auto;
  }


/* Style the close button */
.btn.cancel {
    padding: 0;
    display: flex; 
    justify-content: center; /* Center the content horizontally */
    align-items: center;
    width: 100%; 
}

.btn.cancel .nav-button {
    display: inline-block;
    width: 100%; /* Ensure the NavLink fills the button width */
    padding: 5px 10px; 
    background: #dc3545; 
    color: white;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none; /* Remove underline */
    font-size: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn.cancel .nav-button:hover {
    background: #a71d2a;
}
