/* src/App.css */

/* Default styles */
body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #ebead4;
    transition: background-color 0.3s ease;
  }
  
  .app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: inherit;
  }
  
  h1 {
    text-align: center;
  }
  
  /* Navigation */
  .navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .navigation .nav-button {
    padding: 8px 16px;
    margin: 0 8px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navigation .nav-button.active {
    background-color: #4285F4;
    color: #fff;
  }
  
  .welcome-container,
  .task-container,
  .calendar-container,
  .leaderboard-container,
  .settings-container,
  .login-container,
  .Signup-form {
    background-color: #f5f5f5;
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 16px;
    flex-grow: 1;
  }
  
  /* Dark mode styles */

  body.dark-mode {
    background-color: #1f1f1f;
  }

  .dark-mode,
  .dark-mode body,
  .dark-mode html
  {
    background-color: #1f1f1f;
    color: #f5f5f5;
  }
  
  .dark-mode .navigation .nav-button {
    background-color: #2f2f2f;
    color: #f5f5f5;
  }
  
  .dark-mode .navigation .nav-button.active {
    background-color: #3f3f3f;
  }
  
  .dark-mode .task-container {
    background-color: #2f2f2f;
  }
  
  .dark-mode .calendar-container {
    background-color: #2f2f2f;
  }
  
  .dark-mode .leaderboard-container {
    background-color: #2f2f2f;
  }
  
  .dark-mode .settings-container {
    background-color: #2f2f2f;
  }